/OneDrive/Documents/NetBeansProjects/New Folder/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/New Folder/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Hotel_Manager/Hotel/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BTL_Java/demo/build/
/OneDrive/Documents/NetBeansProjects/BTL_Java/TruongBaCatTruong71DCTT21/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BTL_Java/TruongBaCatTruong71DCTT21/build/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Java_HotelManager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Java_Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/BTL_Java/Java_Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (2)/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (2)/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (2)/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (3)/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (3)/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (3)/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (4)/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (4)/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (4)/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (5)/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (5)/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager - Copy (5)/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (2)/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (2)/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (2)/nbproject/private/
/Downloads/Hotel_Manager (3)/Hotel_Manager/build/
/Downloads/Hotel_Manager (3)/Hotel_Manager/dist/
/Downloads/Hotel_Manager (3)/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (3)/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager/Hotel_Manager/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager/Hotel_Manager/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager/Hotel_Manager/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (5)/Hotel_Manager/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (5)/Hotel_Manager/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (5)/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (5)/Hotel_Manager/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (5)/Hotel_Manager/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (4)/Hotel_Manager/build/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (4)/Hotel_Manager/dist/
/OneDrive/Documents/NetBeansProjects/Java Swing/Hotel_Manager (4)/Hotel_Manager/nbproject/private/
